@import "./base/normalize";
@import "./utils/variables";
@import url(" https: ; //fonts.googleapis.com/css2? family= DM+Sans:wght@400;500;700 & display=swap");
@import "./composants/_header";
@import "./layout/tags";
@import "./composants/_header_scroll";
@import "./composants/main_title";
@import "./layout/photographes";
@import "./layout/banner_photographe";
@import "./layout/media_photographes";
@import "./layout/likes_price";
@import "./layout/sortby";
