/*Couleurs du site*/
$couleur_primaire: #901c1c;
$couleur_secondaire: #d3573c;
$couleur_tarif: #757575;
$couleur_blanche: white;
$couleur_noire: black;
$couleur_bg_scroll: #db8876;
$couleur_bord_tag: #c4c4c4;
$couleur_bkg_photographe: #fafafa;
$couleur_words_photographe: #525252;
