.banner_photographe_container {
  display: flex;
  background-color: $couleur_bkg_photographe;
  border-radius: 0.32rem;
  height: 19.5rem;
  margin: 2.5rem 0 0.5rem;
  padding: 2.5rem;
}

.banner_photographe_description {
  width: 40%;
}
@media (max-width: 1300px) {
  .banner_photographe_description {
    width: 50%;
  }
}

.banner_photographe_nom {
  font-size: 3rem;
  color: $couleur_secondaire;
}

.banner_photographe_localisation {
  font-size: 1.5rem;
  color: $couleur_primaire;
}

.banner_photographe_words {
  font-size: 1.125rem;
  color: $couleur_words_photographe;
  padding-top: 1.8rem;
}

.banner_photographe_filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
}
.photographe_page {
  font-size: 1.125rem;
  padding: 0.1rem 0.4rem;
}

.banner_photographe_button {
  border-radius: 0.32rem;
  border: none;
  background-color: $couleur_primaire;
  color: $couleur_blanche;
  width: 11.6rem;
  height: 4.3rem;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .banner_photographe_button {
    position: fixed;
    height: 2.5rem;
    bottom: 0.7rem;
    left: 30%;
    z-index: 1;
  }
}

.banner_photographe_img_container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

@media (max-width: 1100px) {
  .banner_photographe_container {
    background-color: $couleur_blanche;
  }

  .banner_photographe_img_container {
    width: 35%;
  }
}

.banner_photographe_img {
  border-radius: 50%;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}

@media (max-width: 950px) {
  .banner_photographe_container {
    padding: 1rem;
    height: 13rem;
  }

  .banner_photographe_description {
    width: 70%;
  }

  .banner_photographe_nom {
    font-size: 2.25rem;
  }
  .banner_photographe_localisation {
    font-size: 1rem;
  }

  .banner_photographe_words {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .photographe_page {
    font-size: 1rem;
    padding: 0.1rem 0.4rem;
  }

  .banner_photographe_filter {
    flex-wrap: nowrap;
  }

  .sortBy {
    display: none;
  }
}

@media (max-width: 949px) {
  .banner_photographe_img {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-width: 650px) {
  .banner_photographe_img {
    height: 8rem;
    width: 100%;
  }
  .photographe_description {
    margin: auto auto 3rem auto;
  }
  #photographe_container {
    padding: 3rem 0 0 0;
  }
  .banner_photographe_filter {
    padding: 0;
  }
}
