.header_filter {
  width: 100%;
  margin: 1rem 0;
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .tag_link {
    color: $couleur_primaire;
    font-size: 0.75rem;
    font-weight: 500;
    border: 0.1rem solid $couleur_bord_tag;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    margin: 0 0.2rem;
    font-weight: 500;
  }
}

.sr_only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
