.header_scroll {
  display: none;
  position: fixed;
  top: 0.5rem;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  background-color: $couleur_bg_scroll;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  color: $couleur_noire;
  z-index: 9999;

  &:hover {
    background-color: $couleur_primaire;
    color: $couleur_blanche;
  }
}
