/*Normalisation des styles des navigateurs et retrait des soulignements des liens*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 5rem;
}

@media (max-width: 600px) {
  body {
    padding: 1.5rem 0;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  justify-content: center;
}
