/*Normalisation des styles des navigateurs et retrait des soulignements des liens*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2.5rem 4rem;
}
/*main, header, footer {
  max-width: 1500px;
  margin: auto;
}*/

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
}
